<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>game Store</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a href='/publishers'>Publishers</a></li>
      <li class="menu-item"><a href='/publishers/new'>Add Publisher</a></li>
      <li class="menu-item"><a href='/games'>Stock</a></li>
      <li class="menu-item"><a href='/games/new'>Add Game</a></li>
    </nav>
    <%= yield %>
  </body>
</html>
