<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>game Store</title>

    <link rel="icon" href="/images/disc.ico" />

    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">

  </head>
  <body>
    <nav id="menu">
      <ul class="flex">

      <li class="menu-item"><a href='/publishers'>Stock by Publishers</a></li>
      <li class="menu-item"><a href='/games'>Stock by Games</a></li>
      <li class="menu-item"><a href='/publishers/list'>Publisher List</a></li>
      <li class="menu-item"><a href='/games/list'>Games List</a></li>
      <li class="menu-item"><a href='/publishers/new'>Add Publisher</a></li>
      <li class="menu-item"><a href='/games/new'>Add Game</a></li>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
