input[type="submit"] {
  text-transform: uppercase;
  font-family: Arial;
}

select {
  width: 150px;
  padding: 5px 35px 5px 50px;
  margin: 15px 0;
  font-size: 0.8em;
  -webkit-appearance: none;
  background: papayawhip;
  font-family: Arial, serif;
  border: 1px solid #eee;
  text-align: center;
  display: block;
  display: inline-block;
  margin: 0px;
  padding: 10;
  list-style: none;
}
