body {
  background: #222233;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #A8F6FF;
  font-family: Geomanist,Helvetica,sans-serif;
  font-size: 18px;
  margin: 0px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Geomanist,Helvetica,sans-serif;
  margin: 10px;
  padding: 0px;
}

h1 {
  font-size: 3em;
  color: #A8F6FF;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* A link that has not been visited */
a:link {
    color: #0AFFFF;
}

/* A link that has been visited */
a:visited {
    color: #0AFFFF;
}

/* A link that is hovered on */
a:hover {
    color: #0AFFFF;
}

/* A link that is selected */
a:active {
    color: #0AFFFF;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: Teal;
  text-align: center;
  padding: 14px 62px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}
